html {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-family: bureau-grot, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.cookies {
  height: 100vh;
  background-image:linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9)) ,url("../images/3.jpg");
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
}

.nav-bar {
  display: flex;
  padding: 2.5em 7.5em;
}

.btn {
  padding: 0.225em 1.250em;
  border: 0;
  background: black;
  cursor: pointer;
  margin-top: .5em;
  font-family: sans-serif;
  font-weight: 200;
  font-style: normal;
}

.banner-title {
  color: black;
}

.banner-title h1 {
  font-family: sans-serif;
  font-weight: 400em;
  font-style: normal;
  font-size: 2rem;
  line-height: 1.1;
}

.footer {
  float: right;
}

.nav a {
  font-family: sans-serif;
  padding: .375em .75em .42em;
  text-decoration: none;
  text-transform: none;
}

.nav a:hover {
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}
